html, body {
  margin: 0;
  padding: 0;
  background: #222;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

p {
  font-family: 'Raleway', Arial, sans-serif;
  margin-bottom: 50px;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main {
  position: relative;
  top: 180px;
  text-align: center;
}

.button {
  background-color: #333;
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 16px 40px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
}
